@import url('https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
/*@import url('https://basehold.it/24'); */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Base Styles */
/* Used 20px as base size https://www.modularscale.com/?20&px&1.25 with a major third ratio */
html{
  font-family: 'Literata', Georgia, 'Times New Roman', Times, Roman, serif;
  font-size: 20px; /* 20 / 16 = 1.25 */
  line-height: 24px; /* 24 / 20 = */
  background: #333333;
  color: #e6e6e6;
}

@supports (display: grid) {
  html{ padding: 20px 0; }
}

h1{
  font-size: 39.063px; /* */
  line-height: 48px; /*  */
}
h2 {
  font-size: 31.25px; /*  */
  line-height: 36px; /*  */
  font-weight: 600;
}
h3{
  font-size: 25px; /*  */
  font-style: italic;
}
h4{
  font-weight:600;
}

h1,
h2,
h3,
h4,
p,
nav,
figcaption{
  padding-bottom: 24px;
}

/* Responsive Images */

img{
  display: block;
  /* border: 3px solid #2d8ceb; Blue border on image looks good, however it goes over the column border. Perhaps add border externally via image editor? */
  max-width: 100%;
}

/* Layout */
body{
  display: grid;
  grid-template-columns: minmax(0.625em,1fr) minmax(5ch,80ch) minmax(0.625em,1fr)
}

header,
nav,
main,
footer{
  grid-column: 2 / 3
}

/* Modular */

.nav li{
  padding-bottom: 6px;
}
.nav a {
  display: block;
  text-decoration: none;
  background: #2d8ceb;
  color: #e6e6e6;
  /*border:3px solid #2d8ceb; */
  padding: 12px;
}

.nav a:hover {
  background: #2d8ceb;
}

/* State */
